{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1 style="color: #1d3557;">Topics</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li><h3>
                <a style="color: #457b9d;" href="{% url 'learning_logs:topic' topic.id %}">
                    {{ topic }}</a>
            </h3></li>
        {% empty %}
        <li><h3>No topics added yet. Start learning right now!</h3></li>
        {% endfor %}
    </ul>

<h5><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h5>

{% endblock content %}